# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js Build Output
/.next/
/out/
/build

# Environment Variables & Secret Credentials (CRITICAL FOR SECURITY)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Temporary Uploads & Quota Storage
/uploads/*
!/uploads/.gitkeep

# System & OS Files
.DS_Store
.DS_Store?
._*
*.pem

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & Editors
.vscode/
.idea/

# Vercel
.vercel

# TypeScript & Build Artifacts
*.tsbuildinfo
next-env.d.ts
/src/generated/prisma
